<div class="wrapper">
    <div class="main-header"><img src="../src/images/logo.png"></div>
    <div class="container">
        <div class="header">
          <div class="header-title">Выберите друзей</div><img class="header-close" src="../src/images/close.png">
        </div>
        <div class="main" id="main-lists">
            <div class="main-list">
                <div class="filter__source">
                    <div class="filter__source-label">
                        <img class="filter__icon" src="../src/images/search.png">
                        <input class="filter__source-input" type="text" placeholder="Начните вводить имя друга" id="source-filter">
                    </div>                
                </div>
                <div class="title">Ваши друзья</div>
                <div class="list">
                    <ul class="ullist" id="source-list"></ul>
                </div>
            </div>
            <div class="main-list">
                <div class="filter__target">
                    <input class="filter__target-input" type="text" placeholder="Название" id="target-filter">
                </div>
                <div class="title">Друзья в списке</div>
                <div class="list">
                    <ul class="ullist" id="target-list"></ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <button class="btn-save" id="btn-save">Сохранить</button>
        </div>
    </div>
    <div class="main-footer"></div>
</div>