<div class="wrapper">
    <div class="container">
        <div class="header">
          <div class="header-title" id="geo-address">Адрес</div><img class="header-close" src="../src/images/close.png">
        </div>
        <div class="remarks-list" id="remarks-list">
            
        </div>
        <div class="remark" id="remark">
            <div class="remark-title">ВАШ ОТЗЫВ</div>
            <input class="remark-nickname" type="text" placeholder="Ваше имя" id="remark-nickname">
            <input class="remark-place" type="text" placeholder="Укажите место" id="remark-place">
            <textarea class="remark-text" type="text" placeholder="Поделитесь впечатлениями" id="remark-text"></textarea>
        </div>
        <div class="footer">
            <button class="btn-add" id="btn-add">Добавить</button>
        </div>
    </div>
</div>