<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
</head>
<body>
<div id="homework-container">
    {{> "./friends-content.hbs"}}
</div>
</body>
</html>